{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        }
    },
    "module": {
        "type": "commonjs"
    },
    "env": {
        "targets": {
            "node": "9"
        },
        "mode": "entry",
        "coreJs": "3.22"
    }
}